In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://files.stlouisfed.org/files/htdocs/fred-md/monthly/2024-01.csv", header=0)
df.head()

,sasdate,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
0,Transform:,5.000,5.0,5.000,5.0000,5.00000,5.0000,5.0000,5.0000,5.0000,...,6.000,6.000,6.00,6.00,6.00,2.0,6.0,6.0,6.0000,1.0
1,1/1/1959,2583.560,2426.0,15.188,276676.8154,18235.77392,21.9665,23.3891,22.2688,31.7011,...,18.294,10.152,2.13,2.45,2.04,NaN,6476.0,12298.0,84.2043,NaN
2,2/1/1959,2593.596,2434.8,15.346,278713.9773,18369.56308,22.3966,23.7048,22.4617,31.9337,...,18.302,10.167,2.14,2.46,2.05,NaN,6476.0,12298.0,83.5280,NaN
3,3/1/1959,2610.396,2452.7,15.491,277775.2539,18523.05762,22.7193,23.8483,22.5719,31.9337,...,18.289,10.185,2.15,2.45,2.07,NaN,6508.0,12349.0,81.6405,NaN
4,4/1/1959,2627.446,2470.0,15.435,283362.7075,18534.46600,23.2032,24.1927,22.9026,32.4374,...,18.300,10.221,2.16,2.47,2.08,NaN,6620.0,12484.0,81.8099,NaN

In [8]:
transformations = df.iloc[0,:].copy()
transformations.name = 'Transformations'
transformations.drop("sasdate", inplace=True)
transformations

RPI                5.0
W875RX1            5.0
DPCERA3M086SBEA    5.0
CMRMTSPLx          5.0
RETAILx            5.0
                  ...
UMCSENTx           2.0
DTCOLNVHFNM        6.0
DTCTHFNM           6.0
INVEST             6.0
VIXCLSx            1.0
Name: Transformations, Length: 127, dtype: object

In [11]:
data = df.iloc[1:,:].copy()
data.index = data["sasdate"]
del data["sasdate"]
data

,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,IPDCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
sasdate,,,,,,,,,,,,,,,,,,,,,
1/1/1959,2583.560,2426.0,15.188,2.766768e+05,18235.77392,21.9665,23.3891,22.2688,31.7011,19.0149,...,18.294,10.152,2.13,2.45,2.04,NaN,6476.00,12298.00,84.2043,NaN
2/1/1959,2593.596,2434.8,15.346,2.787140e+05,18369.56308,22.3966,23.7048,22.4617,31.9337,19.1147,...,18.302,10.167,2.14,2.46,2.05,NaN,6476.00,12298.00,83.5280,NaN
3/1/1959,2610.396,2452.7,15.491,2.777753e+05,18523.05762,22.7193,23.8483,22.5719,31.9337,19.4890,...,18.289,10.185,2.15,2.45,2.07,NaN,6508.00,12349.00,81.6405,NaN
4/1/1959,2627.446,2470.0,15.435,2.833627e+05,18534.46600,23.2032,24.1927,22.9026,32.4374,19.6138,...,18.300,10.221,2.16,2.47,2.08,NaN,6620.00,12484.00,81.8099,NaN
5/1/1959,2642.720,2486.4,15.622,2.853072e+05,18679.66354,23.5528,24.3936,23.1231,32.5925,20.0130,...,18.280,10.238,2.17,2.48,2.08,95.3,6753.00,12646.00,80.7315,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8/1/2023,19098.603,15707.7,116.171,1.497717e+06,699540.00000,103.2411,101.4468,101.9571,102.5513,107.1786,...,120.012,123.370,29.74,34.45,26.50,69.4,504406.44,910966.86,5111.5017,15.7822
9/1/2023,19088.877,15719.1,116.594,1.507530e+06,705304.00000,103.3346,101.2042,101.5822,102.3594,108.0793,...,120.395,123.976,29.90,34.54,26.64,67.9,508808.61,913938.95,5074.6667,15.0424
10/1/2023,19134.088,15766.4,116.583,1.505904e+06,703528.00000,102.4592,100.4656,100.5505,101.1135,102.1752,...,120.011,124.214,29.98,34.64,26.70,63.8,512056.53,916941.34,5015.7795,19.0462
11/1/2023,19220.584,15863.0,117.115,1.518957e+06,705981.00000,102.4301,100.5157,100.8247,101.1938,105.3427,...,118.953,124.539,30.23,34.94,26.91,61.3,515110.84,919957.82,5003.5829,13.8563
12/1/2023,19237.854,15886.5,117.749,NaN,709890.00000,102.4840,100.5301,100.9359,101.3899,106.3175,...,118.879,124.963,30.38,34.92,27.16,NaN,NaN,NaN,5085.0280,12.6960

### To do:
1. Pre-processing steps;
2. Define the goals: (a) estimate factors? (b) predict industrial production? (c) macro factors predicts the stock market? (d) evaluate deep learning models performance? (LSTM, 1-d CNN, time series transformers vs. XGBoost, Ridge/Lasso)
3. Schedule a meeting with Vegard